* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: #EAEAEA;
    font-family: "Open Sans", sans-serif;
}
.clear {
    clear: both;
}
.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 2%;
    margin: 0 auto;
}
/*header*/
header {
    text-align: center;
    background-color: #5E3EA1;
    color: white;
    padding: 25px 0;
}
header h1 {
    font-weight: 100;
    font-size: 1.8em;
}
/*formulario*/
main .container {
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 8px 0.8px black;
    padding: 1% 3% 2% 3%;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
}
.criarCliente h2, .clientes > h2, .container > h2, #pesquisaPor2, #nadaEncontrado{
    font-size: 33px;
    font-weight: 500;
    margin: 0px 0 15px 0;
}
#nadaEncontrado {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px 0;
    display: inline-block;
    background-color: blue;
    background-color: white;   
    box-shadow: 1px 1px 5px 0.5px black;
    border-radius: 7px;
}
#pesquisaPor2 {
    margin: 0 0 7px 0;
}
.criarCliente form {
    width: 100%;
    max-width: 600px;
    background-color: #EAEAEA;
    box-shadow: 1px 1px 5px 0.5px black;
    margin: 0 auto;
    padding: 1% 2%;
    border-radius: 10px;
}
.criarCliente label {
    text-align: left;
    display: block;
    font-size: 19px;
    padding-left: 12px;
}
.form_wraper {
    margin: 10px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.form_wraper input[type=text], .form_wraper input[type=email]{
    width: 95%;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}
.form_wraper input[type=text]:focus, .form_wraper input[type=email]:focus{
    outline: none;
}
button.btn {
    padding: 10px 25px;
    font-size: 19px;
    border-radius: 5px;
    border: 0;
    background-color: #665FB3;
    color: white;
    cursor: pointer;
}
button.btn:hover {
    background-color: #7051b4;
    transition: 200ms;
}
button#sair {
    margin: 30px 0 0 0;
}
.enviado {
    padding: 22px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    background-color: #a086da;
    display: none;
    margin: 30px auto 0 auto;
    transition: 1s;
}
/*cliente*/
.clientes_single{
    width: 100%;
    max-width: 1200px;
    background-color: #EAEAEA;
    box-shadow: 1px 1px 5px 0.5px black;
    margin: 20px auto;
    padding: 2%;
    border-radius: 5px;
    display: flex;
    position: relative;
}
.foto {
    width: 110px;
    height: 110px;
    margin-left: 10px;
    background-color: blue;
    display: inline-block;
}
.conteudo_cliente {
    width: 100%;
    padding-left: 50px;
}
.negrito {
    font-weight: bold;
    font-size: 18px;
}
.nome,.aniversario, .email, .telefone, .endereco {
    font-size: 17px;
    text-align: left;
    display: inline-block;
    width: 100%;
}
.btnEditar {
    position: absolute;
    right: 5%;
    top: 37%;
}
#pesquisas {
    width: 100%;
    max-width: 1200px;
    background-color: #EAEAEA;
    box-shadow: 1px 1px 5px 0.5px black;
    margin: 20px auto;
    padding: 2%;
    border-radius: 5px;
    display: flex;
    position: relative;
    flex-direction: row;
}
#pesquisas form {
    text-align: left;
    width: 22%;
}
#pesquisas #resultado2 {
    width: 78%;
    margin-left: 20px;
}
#pesquisas form label {
    font-size: 18px;
}
#pesquisas form input[type=text] {
    width: 100%;
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}
#pesquisas form input[type=text]:focus {
    outline: none;
}
#pesquisas form > div > button#verificarInfo {
    margin: 5px 0;
}
.resultado_pesquisa_single {
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 7px 0.5px black;
    border-radius: 5px;
    padding: 1% 3%;
    margin: 10px 0;
    display: flex;
}
.resultado_pesquisa_single .fotoPesquisa {
    width: 80px;
    height: 80px;
    background-color: blue;
    margin-top: 25px;
}
.conteudo_clientePesquisa {
    width: 90%;
    margin-left: 20px;
}
#pesquisaPor span {
    font-size: 35px;
    font-style: italic;
}
/*.btnEditarPesquisa {
    text-align: left;
    margin: 10px 0;
}*/
@media screen and (max-width: 950px){
#pesquisas {
    display: block;
    text-align: center;
    padding: 2%;
}
#pesquisas form {
    width: 100%;
    max-width: 300px;
    display: inline-block;
}
#pesquisas #resultado2 {
    width: 100%;
    display: inline-block;
    padding-left: 0px;
    margin-left: 0;
    margin-top: 20px;
}
.resultado_pesquisa_single {
    padding: 1%;
    display: inline-block;
}
.resultado_pesquisa_single .fotoPesquisa {
    width: 120px;
    height: 120px;
    margin: 10px auto;
}
/*.btnEditarPesquisa {
    text-align: center;
}*/
}
@media screen and (max-width: 800px){
    .clientes_single {
        display: inline-block;
    }
    .nome,.aniversario, .email, .telefone, .endereco {
        text-align: left;
        font-size: 17px;
    }
    .conteudo_cliente {
        width: 100%;
        padding: 5px 10px;
    }
    .btnEditar {
        top: 65%;
    }
}
@media screen and (max-width: 700px){
    .btnEditar {
        position: static;
        margin: 20px auto 0 auto;
    }
}